@model IEnumerable<Test1.Models.CeShi>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>@RenderSection("ContentHeader", false)</div>

    <table class="table">
        <tr>
            <th>
                姓名
            </th>
            <th>
                年龄
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.XingMing
                </td>
                <td>
                    @item.NianLing
                </td>
            </tr>
        }
    </table>

    <div>@RenderSection("ContentBody")</div>
    <div>@RenderSection("ContentFooter", false)</div>
</body>
</html>
